<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585212152936-gcml232o3de51cjs4cb3ov78rgiibe1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585212152936-gcml232o3de51cjs4cb3ov78rgiibe1q</string>
	<key>API_KEY</key>
	<string>AIzaSyDHclxZuXLPbq3h5YymEg6tVdQLMR3yBl4</string>
	<key>GCM_SENDER_ID</key>
	<string>585212152936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AminHamiditabar.STMI-CGM.watchkitapp</string>
	<key>PROJECT_ID</key>
	<string>stmicgm-1e16e</string>
	<key>STORAGE_BUCKET</key>
	<string>stmicgm-1e16e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585212152936:ios:b77f1e66232c091824bfdd</string>
	<key>DATABASE_URL</key>
	<string>https://stmicgm-1e16e-default-rtdb.firebaseio.com</string>
</dict>
</plist>