<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>$(PROCUT_NAME) camera use</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>Allow us to access your Health Data</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Allow us to access your Health Data</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Allow us to access your Health Data</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow us to access your Location Data</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow us to access your Location Data</string>
	<key>NSLocationUsageDescription</key>
	<string>Allow us to access your Location Data</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow us to access your Location Data</string>
	<key>UIAppFonts</key>
	<array>
		<string>IndieFlower-Regular.ttf</string>
		<string>Anton-Regular.ttf</string>
		<string>DancingScript-VariableFont_wght.ttf</string>
		<string>YanoneKaffeesatz-VariableFont_wght.ttf</string>
		<string>Teko-Medium.ttf</string>
		<string>BalooDa2-ExtraBold.ttf</string>
		<string>BalooDa2-Medium.ttf</string>
		<string>BalooDa2-Bold.ttf</string>
		<string>BalooDa2-Regular.ttf</string>
		<string>BalooDa2-SemiBold.ttf</string>
		<string>LiuJianMaoCao-Regular.ttf</string>
		<string>WorkSans-VariableFont_wght.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
